<script src="https://kit.fontawesome.com/4f03406c76.js" crossorigin="anonymous"></script>
<script src="//unpkg.com/animejs@3.2.0/lib/anime.js"></script>
<script src="/assets/js/script.js"></script>
</body>
</html>