<footer class="footer">

    <article class="info-box1">
        <section class="info-box1__sect1">
            <img src="/assets/img/img@2x.png" alt="" class="info-box1__sect1-img">
            <p class="info-box1__sect1-text">Visit Nearby</p>
        </section>
        <section class="info-box1__sect2">
            <h2 class="info-box1__sect2-heading">Dolomites, South Tyrol</h2>
            <p class="info-box1__sect2-text1">Cadini di Misurina range</p>
            <p class="info-box1__sect2-text2">National Park Tre Cime di Lavaredo</p>
            <button class="info-box1__btn">&plus;</button>
        </section>
    </article>



    <article class="info-box2">
        <section class="info-box2__sect1">
            <h2 class="info-box2__sect1-heading">Italy</h2>
            <p class="info-box2__sect1-text1">Sexten Dolomites, Alps</p>
            <p class="info-box2__sect1-text2">Elevation	2,999 m (9,839 ft)</p>
            <section class="info-box2__sect1-link-section">
                <a href="">link1</a>
                <a href="">link2</a>
                <a href="">link3</a>
            </section>
        </section>

        <section class="info-box2__map">
            <i class="info-box2__map-pin-point"></i>
            <img class="info-box2__map-map" src="/assets/img/graphic_italy@2x.png" alt="">
            <img class="info-box2__map-border" src="/assets/img/graphic_italy_border@2x.png" alt="">
        </section>
    </article>

</footer>