<header class="header">
    <div class="header__logo">
        travelari
    </div>
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__list-item"><a href="" class="nav__link">Destination</a></li>
            <li class="nav__list-item"><a href="" class="nav__link">Accommodation</a></li>
            <li class="nav__list-item"><a href="" class="nav__link">Food</a></li>
            <li class="nav__list-item"><a href="" class="nav__link">Extreme travel</a></li>
            <li class="nav__list-item"><a href="" class="nav__link">Info</a></li>
        </ul>
    </nav>
    <button class="header__search-button">
        <i class="fas fa-search header__search-button-logo"></i>
    </button>
</header>