<div class="index-wrapper">
<%- include ('../partials/before-header.ejs') %>
<div class="background-wrapper1"></div>
<div class="background-wrapper2"></div>
<%- include ('../partials/header.ejs') %>
<main class="index-main">
    <h1 class="index-main__heading1">discover</h1>
    <h3 class="index-main__heading3">In the Sexten Dolomites of Northeastern Italy</h3>
    <h2 class="index-main__heading2">Tre Cime di Lavaredo</h2>
    <button class="index-main__call-to-action">Find out more</button>
</main>
<%- include ('../partials/footer.ejs') %>
</div>
<%- include ('../partials/after-footer.ejs') %>